<h4>Choose translation languages</h4>

<form>
  <mat-form-field class="languageFrom">
    <mat-label>From:</mat-label>
    <select matNativeControl (change)="selectLanguageFromHandler($event)" ng-model="drp1Value">
      <option [ngValue]="null">-----</option>
      <option *ngFor="let dict of dictionaries">
        {{ dict.languageFrom }}
      </option>
    </select>
  </mat-form-field>
  « »
  <mat-form-field class="languageTo">
    <mat-label>To:</mat-label>
    <select matNativeControl (change)="selectLanguagesToHandler($event)" ng-disabled="drp1Value == null">
      <option [ngValue]="null">-----</option>
      <option *ngFor="let language of toLanguages">
        {{ language }}
      </option>
    </select>
  </mat-form-field>
</form>
