<mat-accordion multi="true" *ngIf="flashcards.length > 0">
  <mat-expansion-panel *ngFor="let flashcard of flashcards">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>{{ flashcard.title }}
      </mat-panel-title>
      <mat-panel-description> [{{ flashcard.languageFrom }} => {{ flashcard.languageTo }}] </mat-panel-description>
    </mat-expansion-panel-header>
    <p><b>Translation: </b> {{ flashcard.content }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', flashcard.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(flashcard.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="flashcards.length <= 0">No flashcards added yet!</p>
