<mat-accordion multi="true" *ngIf="flashcards.length > 0">
  <mat-expansion-panel *ngFor="let flashcard of flashcards">
    <mat-expansion-panel-header>
      <p><b>Title: </b> {{ flashcard.title }} </p>
    </mat-expansion-panel-header>
    <p><b>Translation: </b> {{ flashcard.content }}</p>
    <p>Original search: {{ flashcard.userInput }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', flashcard.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(flashcard.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="flashcards.length <= 0">No flashcards added yet!</p>
