<h2>TRANSLATIONS</h2>
<mat-card>
  <form #flashcardForm="ngForm" (submit)="onSearchButton(flashcardForm)">
    <mat-form-field>
      <mat-label>Type word to search</mat-label>
      <input matInput type="search" name="input" placeholder="eg. house" required ngModel #input="ngModel">
      <!-- <mat-error *ngIf="userInput.invalid">type a word</mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="primary">Search!</button>
  </form>
</mat-card>

<br>

<ng-container *ngFor="let translation of translations; let i = index">
  <mat-checkbox name="translationCheckbox-{{i}}" color="primary" required ngModel #translation="ngModel"
    [checked]="translation.isChecked" (change)="translation.isChecked = !translation.isChecked">
    {{ translation.suggestedWord }} --- {{ translation.translation }} </mat-checkbox>
  <br>
</ng-container>
<button mat-raised-button color="primary" (click)="onCreateFlashcardsButton()">Create flashcard(s)</button>
